body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-dark {
  background: #252525;
}

.app-light {
  background: #ffffff;
}
nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem;
}

.page-footer .footer-copyright {
  background-color: #00000018;
}

.page-footer {
  padding: 10px 0 10px 0;
}

nav .brand-logo-dark {
  color: #610fbe;
  text-shadow: 5px 3px 0px black;
  font-size: 30px;
}

nav .brand-logo-light {
  color: #e6e6e6;
  text-shadow: 0px 2px 5px black;
  font-size: 30px;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  min-height: calc(67vh - 70px - 64px);
}

.movie {
  width: 300px;
  margin: 4px;
}

.progress {
  background-color: #dfdfdf;
}

.progress .indeterminate:after {
  background-color: #4e4e4e;
}

.progress .indeterminate:before {
  background-color: #777777;
}

.search-btn-dark {
  position: absolute;
  top: 3px;
  right: 0.5rem;
  background-color: #610fbe;
}

.search-btn-light {
  position: absolute;
  top: 3px;
  right: 0.5rem;
  background-color: #099c90;
}

.search-btn-dark:hover {
  background-color: #6d4fa7;
}

.search-btn-light:hover {
  background-color: #48b19f;
}

.rad-btn {
  display: flex;
  justify-content: flex-end;
}

.row {
  margin-bottom: 0;
}

[type='radio']:checked + span:after,
[type='radio'].with-gap:checked + span:after {
  background-color: #4f4f50;
}

[type='radio']:checked + span:after,
[type='radio'].with-gap:checked + span:before,
[type='radio'].with-gap:checked + span:after {
  border: 2px solid #4f4f50;
}

.not-found-dark {
  color: #484848;
}

.not-found-light {
  color: #b8b8b8;
}

nav ul a {
  padding: 0 5px;
}

.switch {
  margin-right: 10px;
}

.card .card-image {
  position: relative;
  overflow: hidden;
  max-height: 400px;
}

.input-field input[type='search'] {
  padding-left: 10px;
}

[type='radio']:not(:checked) + span,
[type='radio']:checked + span {
  padding-left: 22px;
  margin-left: 12px;
}

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: block !important;
  }
}
