$colorRadio: #4f4f50;
$colorInputDark: #383838;
$colorInputLight: #fff;

* {
  box-sizing: border-box !important;
}

@mixin logoStyle($color, $textS...) {
  color: $color;
  text-shadow: $textS;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  font-family: 'Satisfy', cursive;
  font-size: 40px;
  display: inline-block;
  padding-left: 35px;
  padding-top: 5px;
}

.btn {
  height: 45px;
}

.search-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 30px;

  &:disabled {
    color: white !important;
    box-shadow: none !important;
  }
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &-dark {
    background: #252525;

    .search-input {
      color: white !important;
      background-color: $colorInputDark !important;
    }

    .animated-input {
      &::before,
      &::after {
        background: linear-gradient(
          45deg,
          rgba(185, 0, 251, 1) 10%,
          rgba(239, 0, 255, 1) 20%,
          rgba(149, 0, 255, 1) 30%,
          rgba(255, 0, 228, 1) 40%,
          rgba(132, 0, 255, 1) 50%,
          rgba(251, 0, 207, 1) 60%,
          rgba(171, 0, 255, 1) 70%,
          rgba(235, 0, 255, 1) 80%,
          rgba(132, 0, 255, 1) 90%,
          rgba(255, 0, 194, 1) 100%
        );
        background-size: 400%;
      }
    }

    .loader {
      border-color: #5827b9;
      &::before {
        border: 2px #c21dac;
        border-style: solid dotted;
      }
    }

    .logo {
      @include logoStyle(#9434ff, 0px 0px 40px #7d1de9, 0px 0px 18px #7d1de9);
    }

    .not-found {
      color: #484848;
    }

    .search-btn {
      background-color: #610fbe;

      &:disabled {
        background-color: #4b3762 !important;
      }

      &:hover {
        background-color: #6d4fa7;
      }

      &:focus {
        background-color: #610fbe;
      }
    }
  }

  &-light {
    background: #f1f1f1;

    .search-input {
      color: black !important;
      background-color: $colorInputLight !important;
    }

    .animated-input {
      &::before,
      &::after {
        background: linear-gradient(
          45deg,
          rgba(10, 168, 113, 1) 10%,
          rgba(44, 215, 147, 1) 20%,
          rgba(15, 150, 139, 1) 30%,
          rgba(63, 214, 151, 1) 40%,
          rgba(9, 156, 144, 1) 50%,
          rgba(51, 201, 126, 1) 60%,
          rgba(15, 125, 116, 1) 70%,
          rgba(50, 223, 131, 1) 80%,
          rgba(9, 156, 144, 1) 90%,
          rgba(10, 237, 105, 1) 100%
        );
        background-size: 400%;
      }
    }

    .loader {
      border-color: #1ec2b4;
      &::before {
        border: 2px #0ddf30;
        border-style: solid dotted;
      }
    }

    .logo {
      @include logoStyle(#10b58e, 0px 0px 40px #1de9bd, 0px 0px 18px #1de9cb);
    }

    .not-found {
      color: #b8b8b8;
    }

    .search-btn {
      background-color: #099c90;

      &:disabled {
        background-color: #80bfba !important;
      }

      &:hover {
        background-color: #48b19f;
      }

      &:focus {
        background-color: #099c90;
      }
    }
  }
}

.search-input {
  width: calc(100% - 2px) !important;
  border-bottom: 0px !important;
  border-radius: 30px !important;
  appearance: none;
}

nav {
  padding: 0 1rem;
  background: transparent;
  box-shadow: none;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem;
  flex: 1;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  min-height: calc(67vh - 70px - 64px);
}

.movie {
  width: 300px;
  margin: 7px 4px 7px 4px;
}

.rad-btn {
  display: flex;
  justify-content: flex-end;
}

.row {
  margin-bottom: 0;
}

[type='radio']:checked + span:after,
[type='radio'].with-gap:checked + span:after {
  background-color: $colorRadio;
}

[type='radio']:checked + span:after,
[type='radio'].with-gap:checked + span:before,
[type='radio'].with-gap:checked + span:after {
  border: 2px solid $colorRadio;
}

.switch {
  margin-right: 10px;
}

.card-image {
  position: relative;
  height: 400px;
  background: #d5d1d1;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
}

.input-field {
  z-index: 1;
  input[type='search'] {
    padding-left: 20px;
  }
}

[type='radio']:not(:checked) + span,
[type='radio']:checked + span {
  padding-left: 22px;
  margin-left: 12px;
}

.hideable {
  display: flex;
  min-height: calc(67vh - 70px - 64px);
  transition: all 200ms;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.animated-input {
  position: relative;

  &::before,
  &::after {
    content: '';
    border-radius: 30px;
    position: absolute;
    left: -2px;
    top: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: 0;
    animation: steam 20s linear infinite;
  }
  &::after {
    filter: blur(1px);
  }
}

.loader {
  height: 100px;
  width: 100px;
  border-style: solid solid dotted dotted;
  border-width: 5px;
  border-radius: 50%;
  animation: turn-left 2s infinite linear;
  &::before {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    animation: turn-right 1s infinite linear;
  }
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes turn-left {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes turn-right {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-1turn);
  }
}

@media only screen and (max-width: 1200px) {
  .btn {
    height: 43.5px;
  }
}

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: block !important;
  }

  .btn {
    height: 42px;
  }
}
